/node_modules
/public/hot
/public/storage
/public/.user.ini
/storage/*.key
/vendor
/.idea
.env

/.rnd

/public/js/app.js
/public/css/app.css
/public/mix-manifest.json





.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
